box2d-py @ file:///D:/bld/box2d-py_1732272161533/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1736947526808/work
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
Farama-Notifications @ file:///home/conda/feedstock_root/build_artifacts/farama-notifications_1684258120643/work
filelock==3.13.1
fonttools==4.59.1
fsspec==2024.6.1
gymnasium @ file:///D:/bld/gymnasium-split_1732344947464/work
jax-jumpy @ file:///home/conda/feedstock_root/build_artifacts/jax-jumpy_1734209928065/work
Jinja2==3.1.4
joblib==1.5.1
kiwisolver==1.4.9
MarkupSafe==2.1.5
matplotlib==3.10.5
mpmath==1.3.0
networkx==3.3
numpy @ file:///D:/bld/bld/rattler-build_numpy_1753401560/work/dist/numpy-2.3.2-cp311-cp311-win_amd64.whl#sha256=ab65f811e26f3da0893db1e215281007a7ba1e4a2f72085c75049eb72f03ceb7
packaging==25.0
pillow==11.3.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
scikit-learn==1.7.1
scipy==1.16.1
six==1.17.0
sympy==1.13.3
threadpoolctl==3.6.0
torch==2.8.0+cpu
torchaudio==2.8.0+cpu
torchvision==0.23.0+cpu
tqdm==4.67.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
